@model HealthCheckApp.Web.Models.MonitoredSite

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MonitoredSite</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckIntervalSeconds" class="control-label"></label>
                <input asp-for="CheckIntervalSeconds" class="form-control" />
                <span asp-validation-for="CheckIntervalSeconds" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsUp" /> @Html.DisplayNameFor(model => model.IsUp)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="LastChecked" class="control-label"></label>
                <input asp-for="LastChecked" class="form-control" />
                <span asp-validation-for="LastChecked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastDownTime" class="control-label"></label>
                <input asp-for="LastDownTime" class="form-control" />
                <span asp-validation-for="LastDownTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
